<div class="holder mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><span>Manage Site</span></li>
        </ul>
    </div>
</div>
<div class="holder mt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 aside aside--left">
                <div class="list-group">
                    <a href="/manage/" class="list-group-item ">Site Info</a>
                    <a href="/manage/orders/" class="list-group-item">View Orders</a>
                    <a href="/manage/products/" class="list-group-item">Manage Products</a>
                    <a href="/manage/add-product/" class="list-group-item active">Add Product</a>
                    <a href="/manage/categories/" class="list-group-item">Categories</a>
                </div>
            </div>
            <div class="col-md-9 aside">
                <h2>Site Info</h2>
                {{#ifCond response.msg ""}}
                {{else}}
                    <p style="color: red;">
                        {{response.msg}}
                    </p>
                {{/ifCond}}
                <div class="card mt-3" id="updateAddress">
                    <form class="card-body" action="#" method="POST">
                        <h3>Add product</h3>

                        <label class="text-uppercase">Product name:</label>
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" value=""/>
                        </div>

                        <label class="text-uppercase">Image:</label>
                        <div class="form-group">
                            <input name="image" type="text" class="form-control" value=""/>
                        </div>

                        <label class="text-uppercase">Price:</label>
                        <div class="form-group">
                            <input name="price" type="text" class="form-control" value=""/>
                        </div>

                        <label class="text-uppercase">Category:</label>
                        <div class="form-group">
                            <select name="category" type="text" class="form-control">
                                <option value="none" selected>No category</option>
	                            {{#each categories}}
		                            <option value="{{this.slug}}">{{this.name}}</option>
	                            {{/each}}
                            </select>
                        </div>

                        <div class="mt-2">
                            <button type="submit" class="btn ml-1">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>