<!-- BN Slider 1 -->
<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="false" data-speed="5000" data-start-width="1920" data-start-height="792" data-start-mwidth="480" data-start-mheight="578">
                <div class="bnslider-slide bnslider-toys-1">
                    <div class="bnslider-image-mobile" style="background-image: url('images/home-toys2/slider/slide-toys1-mobile.png');"></div>
                    <div class="bnslider-image" style="background-image: url('images/home-toys2/slider/slide-toys1.png');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle txt-right">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert mr-0 w-50">
                                    <div class="bnslider-text bnslider-text--lg text-center text-uppercase" data-animation="zoomIn" data-animation-delay="0.2s">Puppy</div>
                                    <div class="bnslider-text text-center d-none d-md-block" data-animation="fadeIn" data-animation-delay="1s">
                                        <p>Lorem ipsum dolor sit amet consestuer adicpis elitr an dolor sit amet ipsum dolor it amet adicpising elit anno amet consestuer adicpis elitr anno dolor sit amet.</p>
                                    </div>
                                    <div class="bnslider-text bnslider-text--md text-center" data-animation="spinIn" data-animation-delay="1.6s" style="color: #ffe85a">$ 180.00</div>
                                    <div class="btn-wrap text-center" data-animation="fadeIn" data-animation-delay="2s"><a href="#" class="btn-decor btn-decor--whiteline btn-decor--lg">shop now<span class="btn-line"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnslider-slide bnslider-toys-1">
                    <div class="bnslider-image-mobile" style="background-image: url('images/home-toys2/slider/slide-toys2-mobile.png');"></div>
                    <div class="bnslider-image" style="background-image: url('images/home-toys2/slider/slide-toys2.png');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle txt-right">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert mr-0 w-50">
                                    <div class="bnslider-text bnslider-text--lg text-center text-uppercase" data-animation="zoomIn" data-animation-delay="0.2s">JEEP</div>
                                    <div class="bnslider-text text-center d-none d-md-block" data-animation="fadeIn" data-animation-delay="1s">
                                        <p>Lorem ipsum dolor sit amet consestuer adicpis elitr an dolor sit amet ipsum dolor it amet adicpising elit anno amet consestuer adicpis elitr anno dolor sit amet.</p>
                                    </div>
                                    <div class="bnslider-text bnslider-text--md text-center" data-animation="spinIn" data-animation-delay="1.6s" style="color: #ffe85a">$ 180.00</div>
                                    <div class="btn-wrap text-center" data-animation="fadeIn" data-animation-delay="2s"><a href="#" class="btn-decor btn-decor--whiteline btn-decor--lg">shop now<span class="btn-line"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnslider-slide bnslider-toys-1">
                    <div class="bnslider-image-mobile" style="background-image: url('images/home-toys2/slider/slide-toys3-mobile.png');"></div>
                    <div class="bnslider-image" style="background-image: url('images/home-toys2/slider/slide-toys3.png');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle txt-right">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert mr-0 w-50">
                                    <div class="bnslider-text bnslider-text--lg text-center text-uppercase" data-animation="zoomIn" data-animation-delay="0.2s">DRAGON</div>
                                    <div class="bnslider-text text-center d-none d-md-block" data-animation="fadeIn" data-animation-delay="1s">
                                        <p>Lorem ipsum dolor sit amet consestuer adicpis elitr an dolor sit amet ipsum dolor it amet adicpising elit anno amet consestuer adicpis elitr anno dolor sit amet.</p>
                                    </div>
                                    <div class="bnslider-text bnslider-text--md text-center" data-animation="spinIn" data-animation-delay="1.6s" style="color: #ffe85a">$ 180.00</div>
                                    <div class="btn-wrap text-center" data-animation="fadeIn" data-animation-delay="2s"><a href="#" class="btn-decor btn-decor--whiteline btn-decor--lg">shop now<span class="btn-line"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bnslider-loader">
                <div class="loader-wrap">
                    <div class="dots">
                        <div class="dot one"></div>
                        <div class="dot two"></div>
                        <div class="dot three"></div>
                    </div>
                </div>
            </div>
            <div class="bnslider-arrows bnslider-arrows--pullright container">
                <div></div>
            </div>
            <div class="bnslider-dots vert-dots vert-dots--left container-fluid"></div>
        </div>
    </div>
</div>
<!-- //BN Slider 1 -->
<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="collection-carousel data-slick slick-arrows-squared" data-slick='{"slidesToShow": 5, "responsive": [{"breakpoint": 1200,"settings": {"slidesToShow": 4}},{"breakpoint": 992,"settings": {"slidesToShow": 3}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>
            <div class="collection-carousel-item"><a href="#">
                <div class="image-hover img-zoom-out"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-01.png" class="lazyload" alt=""></div><span class="collection-carousel-title justify-content-center align-items-start">Stuffed Toys</span>
            </a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-02.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">cars & equipment</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-03.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">dolls</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-04.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">lego</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-05.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">Board games</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-01.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">Stuffed Toys</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-02.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">cars & equipment</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-03.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">dolls</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-04.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">lego</span></a></div>
            <div class="collection-carousel-item"><a href="#"><img src="images/placeholder.png" data-src="images/home-toys2/collection-toys-05.png" class="lazyload" alt=""> <span class="collection-carousel-title justify-content-center align-items-start">Board games</span></a></div>
        </div>
    </div>
</div><!-- banners carousel from the editor -->
<div class="holder global_width mt-0 pt-3 pt-md-7 holder-bg-08">
    <div class="container">
        <div class="row bnr-grid data-slick slick-arrows-aside-simple slick-arrows-mobile-lg" data-slick='{"dots":false,"arrows":true,"slidesToShow": 2,"responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 768,"settings": {"slidesToShow": 1}}]}'>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="col-content">
                    <!-- banner from the editor Banner1 --> <a href="#" class="bnr-wrap">
                    <div class="bnr bnr--style-1 bnr--right bnr--middle bnr-hover-scale" data-fontratio="5.55"><img src="images/placeholder.png" data-src="images/home-toys2/banner-toys-01.png" class="lazyload" alt=""> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text1">new arrivals for</span> <span class="bnr-text2">girls</span> <span class="btn-decor bnr-btn">shop now<span class="btn-line"></span></span></span></span></div>
                </a><!-- banner from the editor Banner1 -->
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="col-content">
                    <!-- banner from the editor Banner2 --> <a href="#" class="bnr-wrap">
                    <div class="bnr bnr2 bnr--style-1 bnr--left bnr--middle bnr-hover-scale" data-fontratio="5.55"><img src="images/placeholder.png" data-src="images/home-toys2/banner-toys-02.png" class="lazyload" alt=""> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text1">new arrivals for</span> <span class="bnr-text2">boys</span> <span class="btn-decor bnr-btn">shop now<span class="btn-line"></span></span></span></span></div>
                </a><!-- banner from the editor Banner2 -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banners carousel from the editor -->
<div class="holder mt-0 py-3 py-md-7 holder-bg-08">
    <div class="container">
        <div class="product-slider data-slick vert-dots-md vert-dots--left" data-slick='{"slidesToShow": 1, "dots": true, "arrows": false}'>
            <div class="product-slider-item"><img src="images/home-toys2/product-slider-toys-placeholder.png" data-src="images/home-toys2/product-slider-toys-01.png" class="lazyload" alt="">
                <div class="product-slider-inside">
                    <div class="product-slider-info text-center justify-content-center">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="#">Monster truck</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 70.00</div>
                        </div>
                        <div class="prd-action-wrap"><a href="#" class="btn btn--lg"><i class="icon icon-handbag"></i><span>Add To Cart</span></a></div>
                    </div>
                </div>
            </div>
            <div class="product-slider-item"><img src="images/home-toys2/product-slider-toys-placeholder.png" data-src="images/home-toys2/product-slider-toys-02.png" class="lazyload" alt="">
                <div class="product-slider-inside">
                    <div class="product-slider-info text-center justify-content-center">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="#">Long dog</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 50.00</div>
                        </div>
                        <div class="prd-action-wrap"><a href="#" class="btn btn--lg"><i class="icon icon-handbag"></i><span>Add To Cart</span></a></div>
                    </div>
                </div>
            </div>
            <div class="product-slider-item"><img src="images/home-toys2/product-slider-toys-placeholder.png" data-src="images/home-toys2/product-slider-toys-03.png" class="lazyload" alt="">
                <div class="product-slider-inside">
                    <div class="product-slider-info text-center justify-content-center">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="#">Cute dog</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 60.00</div>
                        </div>
                        <div class="prd-action-wrap"><a href="#" class="btn btn--lg"><i class="icon icon-handbag"></i><span>Add To Cart</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder">
    <div class="container">
        <div class="title-wrap text-center">
            <h2 class="h1-style">Featured items</h2>
        </div>
        <div class="row vert-margin">
            <div class="col-sm-5 col-md-4 col-lg-3">
                <div class="prd-carousel-banner bnr bnr--style-1-1 bnr--left bnr--top bg-cover" data-fontratio="2.976" style="background-image: url(images/home-toys2/carousel-banner-toys.png);"><img src="images/home-toys2/carousel-banner-toys.png" alt="" class="d-none d-sm-block"> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text1">OFFERS</span> <span class="bnr-text2">FOR BOYS</span></span></span>
                    <div class="carousel-arrows slick-arrows-squared"></div>
                </div>
            </div>
            <div class="col-sm-7 col-md-8 col-lg-9">
                <div class="prd-grid prd-text-center hide-price-comment prd-carousel js-prd-carousel data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 2, "slidesToScroll": 1}}]}'>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-106.jpg" alt="Bat car" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Bat car</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 30.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-107.jpg" alt="Transformer" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Transformer</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 80.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader prd-has-countdown">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-108.jpg" alt="Green man" class="js-prd-img lazyload"></a>
                                <div class="label-sale">-33%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="countdown-box">
                                    <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                </div>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Green man</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 50.00</div>
                                    <div class="price-old">$ 75.00</div>
                                    <div class="price-comment">You save $ 25.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader prd-has-countdown">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-109.jpg" alt="Monster truck" class="js-prd-img lazyload"></a>
                                <div class="label-sale">-14%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="countdown-box">
                                    <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                </div>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Monster truck</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 70.00</div>
                                    <div class="price-old">$ 82.00</div>
                                    <div class="price-comment">You save $ 12.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-110.jpg" alt="Long dog" class="js-prd-img lazyload"> </a><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Long dog</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 50.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader prd-has-countdown">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-111.jpg" alt="Mcqueen car" class="js-prd-img lazyload"></a>
                                <div class="label-sale">-50%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <div class="countdown-box">
                                    <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                </div>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Mcqueen car</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 10.00</div>
                                    <div class="price-old">$ 20.00</div>
                                    <div class="price-comment">You save $ 10.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-link-wrapper text-center mt-3"><a href="#" class="btn-decor">show all</a></div>
    </div>
</div>
<div class="holder py-3 py-md-7 holder-bg-08">
    <div class="container"><a href="#" class="bnr bnr-discount bnr-discount--left">
        <div class="row">
            <div class="col-md">
                <div class="bnr-discount-caption">
                    <div class="bnr-discount-text-wrap" style="background-color: #f7fcff;">
                        <div class="bnr-text1">discounts</div>
                        <div class="bnr-text2">for stuffed animals<span class="bnr-text2-brd"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md bnr-discount-image"><img src="images/placeholder.png" data-src="images/home-toys2/discount-banner-toys-01.png" class="lazyload" alt=""></div>
        </div>
    </a><a href="#" class="bnr bnr-discount bnr-discount--right">
        <div class="row">
            <div class="col-md">
                <div class="bnr-discount-caption">
                    <div class="bnr-discount-text-wrap" style="background-color: #f7fcff;">
                        <div class="bnr-text1">limited discounts</div>
                        <div class="bnr-text2">for new Lego constructors<span class="bnr-text2-brd"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md bnr-discount-image"><img src="images/placeholder.png" data-src="images/home-toys2/discount-banner-toys-02.png" class="lazyload" alt=""></div>
        </div>
    </a></div>
</div>
<div class="holder fullwidth full-nopad mt-sm-0">
    <div class="container"><a href="#" class="bnr-wrap">
        <div class="bnr bnr35 bnr--style-1 bnr-full bnr--middle bnr--left" data-fontratio="19.2"><img src="images/placeholder.png" data-src="images/home-toys2/banner-toys-03.png" class="lazyload" alt=""> <span class="bnr-caption container"><span class="bnr-text-wrap"><span class="bnr-text4">TOYS FOR<br>BABIES</span> <span class="btn-decor btn-decor--white d-none d-md-inline-block">shop now<span class="btn-line"></span></span></span></span></div>
    </a></div>
</div>
<div class="holder">
    <div class="container">
        <div class="title-wrap text-center">
            <h2 class="h1-style">Popular Items</h2>
        </div>
        <div class="prd-grid three-in-row prd-text-center prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-sm-3 data-to-show-xs-2" data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 2, "slidesToScroll": 1}}]}'>
            <div class="prd prd-has-loader">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-113.jpg" alt="Monopoly" class="js-prd-img lazyload"> </a><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Monopoly</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 110.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-107.jpg" alt="Transformer" class="js-prd-img lazyload"></a>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Transformer</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 80.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-112.jpg" alt="Cute dog" class="js-prd-img lazyload"></a>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Cute dog</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 60.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-111.jpg" alt="Mcqueen car" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-50%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Mcqueen car</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 10.00</div>
                            <div class="price-old">$ 20.00</div>
                            <div class="price-comment">You save $ 10.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-106.jpg" alt="Bat car" class="js-prd-img lazyload"></a>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Bat car</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 30.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-108.jpg" alt="Green man" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-33%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Green man</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 50.00</div>
                            <div class="price-old">$ 75.00</div>
                            <div class="price-comment">You save $ 25.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-109.jpg" alt="Monster truck" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-14%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Monster truck</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 70.00</div>
                            <div class="price-old">$ 82.00</div>
                            <div class="price-comment">You save $ 12.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd prd-has-loader">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-110.jpg" alt="Long dog" class="js-prd-img lazyload"> </a><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                        <h2 class="prd-title"><a href="product.html">Long dog</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">$ 50.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>xs</span></li>
                                    <li><span>s</span></li>
                                    <li><span>m</span></li>
                                    <li><span>l</span></li>
                                    <li><span>xl</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-link-wrapper text-center"><a href="#" class="btn-decor">shop all</a></div>
    </div>
</div>