
<footer class="page-footer footer-style-12 global_width">
    <div class="holder">
        <div class="container">
            <div class="row no-gutters vert-margin shop-features-style3-1">
                <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">Free worlwide delivery</div>
                        <div class="text2">Free shipping fees</div>
                    </div><span class="shop-feature-bg"></span>
                </a></div>
                <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">100% money back guarantee</div>
                        <div class="text2">Return anytime you want</div>
                    </div>
                </a></div>
                <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-call"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">24/7 customer support</div>
                        <div class="text2">Always be with you</div>
                    </div><span class="shop-feature-bg"></span>
                </a></div>
            </div>
        </div>
    </div>
    <div class="holder mt-15 mt-md-0 py-md-2 holder-bg-08">
        <div class="container">
            <div class="row vert-margin-md align-items-center py-3">
                <div class="col-lg-auto ml-lg-auto mt-2 mt-lg-0">
                    <div class="subscribe-form subscribe-form--style1">
                        <form action="#">
                            <div class="form-inline">
                                <div class="subscribe-form-title">subscribe to newsletter:</div><input type="text" class="form-control" placeholder="Enter Your e-mail address"> <button type="submit" class="btn-decor">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg text-center text-lg-right">
                    <ul class="social-list">
                        <li><a href="#" class="icon icon-facebook"></a></li>
                        <li><a href="#" class="icon icon-twitter"></a></li>
                        <li><a href="#" class="icon icon-google"></a></li>
                        <li><a href="#" class="icon icon-instagram"></a></li>
                        <li><a href="#" class="icon icon-youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 mt-md-0">
        <div class="row py-0 py-md-5">
            <div class="col-md-6 col-lg-4 mb-15 mb-lg-0">
                <div class="footer-block">
                    <div class="footer-logo">
	                    <a href="#">
		                    <img src="/images/logo.png" class="img-fluid" alt="">
	                    </a>
                    </div>
                    <p>Toys for kids to enjoy.</p>
                    <div class="payment-icons">
	                    <img src="/images/payment/payment-card-visa.png" alt="">
	                    <img src="/images/payment/payment-card-mastecard.png" alt="">
	                    <img src="/images/payment/payment-card-discover.png" alt="">
	                    <img src="/images/payment/payment-card-american-express.png" alt="">
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-flex col-lg-1"></div>
            <div class="col-md-6 col-lg">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>Customer Service</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a href="terms-of-use.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="faq.html">F.A.Q.</a></li>
                            <li><a href="contact.html">Contact Info</a></li>
                            <li><a href="account-create.html">Create Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>My Account</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a href="account-details.html">My Account</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="account-wishlist.html">My Wishlist</a></li>
                            <li><a href="account-history.html">Order Status</a></li>
                            <li><a href="account-history.html">Track My Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>Information</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Site map</a></li>
                            <li><a href="#">sale</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-bottom">
        <div class="row lined py-2 py-md-4 justify-content-center">
            <div class="col-md-6">
                <div class="footer-copyright text-center">
                    <p class="footer-copyright-text"><span>By @MonokaiJs. Made with <3</p>
                    <p class="footer-copyright-links"><a href="#">Terms & conditions</a> <a href="#">Privacy policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>