<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="index.html">
        Products
        <span class="menu-label menu-label--color1">NEW</span>
    </a>
    <span class="arrow"></span>
    <ul class="nav-level-2">
        <li><a href="index.html" title="">Fashion 1</a></li>
        <li><a href="index-fashion-2.html" title="">Fashion 2</a></li>
        <li><a href="index-electronics.html" title="">Electronics 1</a></li>
        <li><a href="index-electronics-2.html" title="">Electronics 2</a></li>
        <li><a href="index-furniture.html" title="">Furniture</a></li>
        <li><a href="index-nutrition.html" title="">Nutrition</a></li>
        <li><a href="index-sport.html" title="">Sport</a></li>
        <li><a href="index-tools.html" title="">Tools</a></li>
        <li><a href="index-watches.html" title="">Watches</a></li>
        <li><a href="index-tshirts.html" title="">T-shirts</a></li>
        <li><a href="index-toys.html" title="">Toys</a></li>
        <li><a href="index-plumbing.html" title="">Plumbing</a></li>
        <li><a href="index-rtl.html" title="">RTL</a></li>
    </ul>
</li>